/* Colors */

$button-col: #EFAC00;
$box-col: #334350;
$bg-col: #202A33;
$dark-col: #14293C;
$light-col: #7E8072;
$light2-col: #6d90ad;
$font-col: white;
$font-2nd: #B4BABF;
$shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
$shadow2: 0 10px 40px hsla(0, 0, 0, .1);



